extends layout

block content

  //- header
  include header.jade
  div(class="container")
    div 
      a(href="/company/new_job") post a new job

      
    div
      a(href="/company/new_company") add a new company

    h1 Welcome

    script.
      var show_all_jobs = function() {
        $(".category-job").show();
      };
      var toggle_job_content = function(job_blk_class) {
        console.log(job_blk_class);
        $(".category-job").hide();
        $("."+job_blk_class).show();
      };
      $(document).ready(function() {
        $("#all-jobs-button").click().focus();
        //- $("#"+!{JSON.stringify(cat_job_array)}[0].category_html_class).click();
      });

    ul(class="list-group side-bar") 
        button(type="button" class="list-group-item" id="all-jobs-button" onclick="show_all_jobs()") All
        each cat_job in cat_job_array
          button(type="button" class="list-group-item" id="#{cat_job.company_html_class}" onclick='toggle_job_content("#{cat_job.company_html_class}")')
            = cat_job.company
    
    div(id="job-content")
      h1(class="page-header")= title

      div(class="list-group")
        each cat_job in cat_job_array
          each job in cat_job.jobs
            div(class="list-group-item category-job #{cat_job.company_html_class}")
              h4(class="list-group-item-heading")
                = job.title
              a(href="/jobs/" + job.id + "/details") Details
