extends layout

block content
  include header

  script.
    $(document).ready(function() {
      var deadline = $.format.date($('.deadline-info').text(), "yyyy-MM-dd");
      $('.deadline-input').val(deadline);

      $('.edit-input').addClass("hidden");

      $('.job-edit-btn').on('click', function() {
        $('.edit-input, .job-cancel-btn, .job-submit-btn').removeClass("hidden");
        $('.info, .job-edit-btn').addClass("hidden");
      });

      $('.job-cancel-btn').on('click', function() {
        $('.edit-input, .job-cancel-btn, .job-submit-btn').addClass("hidden");
        $('.info, .job-edit-btn').removeClass("hidden");
      });

      $('.status-info .btn').on('click', function() {

        var toggled_status = $('.status-info h3').text() == "Status: Open" ? 1 : 0;

        $.ajax({

          url: 'edit',
          type: 'post',
          data: { status: toggled_status },

          success: function(data) {
            console.log("success");
          },

          errors: function() {
            alert("ajax error");
          }
        });
      });
    });
  
  if job
    form(action="edit", method="post")
      div(class="container")
        
        //- Job title
        div(class="page-header")
          h1(class="info")=job.title
          div(class="status-info")
            if job.status == 0
              h3 Status: Open
              button(class="btn btn-danger") Close
            else
              h3 Status: Closed
              button(class="btn btn-primary") Open

        div(class="form-group edit-input")
          input(type="text", name="title", class="form-control" value=job.title)
          hr

        //- All job details(on left hand side)
        div(class="row")
          div(class="col-md-8")

            //- Description
            h3 Job Description
            
            div(class="form-group edit-input")
              textarea(name="description", class="form-control", rows="4")=job.description
            
            div(class="info")
              p
              =job.description
          
            //- Salary
            h3 Salary

            div(class="form-group edit-input")
              input(type="number", name="salary", class="form-control", value=job.salary)
            
            div(class="info")
              p
              =job.salary
            
            //- Deadline
            h3 Application Deadline
            
            div(class="form-group edit-input")
              input(type="date", name="application_deadline", class="form-control deadline-input")
            
            div(class="info deadline-info")
              p
              =job.applicationDeadline
            
            //- button groups
            button(type="button" class="btn btn-warning job-edit-btn") Edit
            button(type="button" class="btn btn-danger job-cancel-btn hidden") Cancel
            button(type="submit" class="btn btn-primary job-submit-btn hidden") Update
          
          //- For company infomation, on the right side
          div(class="col-md-4")
            h3 Company name
            div(class="form-group edit-input")
              select(name='companyId')
                each val, index in companies
                  if index == job.companyId
                    option(value=index selected="selected")=val
                  else
                    option(value=index)=val
            div(class="info")
              p
              =job.Company.name

        //- Applicants info
        div(id="applicant-content")
          h1(class="page-header")= title

          div(class="list-group")
            each student in students
              tr
                //- Since students do not have name yet, use matric now
                td=student.matric

